.grey{
    color: #918E9B;
}

.bi-star-fill{
    color: red;
}

.custom-head{
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.custom-logo{
    left: 0.01%;
    right: 0.01%;
}

.custom-card{
    width: 320px;
    font-size: 15px;
}

.custom-card-img{
    height: 317px;
    width: 319px;
}

@media (max-width: 768px) {
    .prof-pic{
        max-width: 450px;
    }
}

@media (min-width: 1550px) {
    .flex-container{
        display: flex;
        flex-direction: row;
    }
}